/*Reset*/
*{
    margin:0; 
    padding: 0; 
    border: none; 
    outline: none;
    font-family: 'MerriweatherSans';
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a{
    text-decoration: none; 
    color:inherit;
}
ul{list-style: none;}
img{max-width: 100%;}

/*fonts*/

@font-face {
  font-family: 'MerriweatherSans';
  src: url("./fonts/MerriweatherSans-Regular.ttf");
}

@font-face {
  font-family: 'MerriweatherSans-Light';
  src: url("./fonts/MerriweatherSans-Light.ttf");
}

@font-face {
  font-family: 'MerriweatherSans-Bold';
  src: url("./fonts/MerriweatherSans-Bold.ttf");
}

/*/ fonts*/

body {
    background: #ba68c8;
    font-family: 'MerriweatherSans';
}

.shell {
    margin: 0 auto;
    display: block;
    max-width: 1000px;
}

.section--1, .section--2 {
    width: 100%;
    display: block;
    margin:  0 auto;
    max-width: 350px;
    background: #ab47bc;
    box-shadow: 1px 1px 2px 1px #00000021;
    color: #fff;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
}

.section--linha {
    margin-bottom: 16px;
}

.section--btn {
    display: table;
    width: auto;
    background: #7b1fa2;
    padding: 10px 10px;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #00000021;
    margin: 0 auto;
    margin-right: 0;
}

.section--title {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.section--title h2 {
    font-size: 17px;
}

.section--title p {
    font-size: 15px;
    color: #dcc2e0;
}

ul.lista {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.lista li {
    margin-top: 10px;
    display: flex;
}

ul.lista li label {
    width: 10%;
}

ul.lista li input {
    text-transform: uppercase;
    width: 70%;
    height: 27px;
}

.section--2 table {
    width: 100%;
    text-align: center;
    background: #7b1fa2;
    padding: 9px;
    font-weight: normal;
}

.section--2 table td:first-child {
    font-weight: bold;
}

.newMatriz p {
    margin-bottom: 20px;
    font-size: 14px;
}

.newMatriz table input {
    width: 32px;
    background: #7b1fa2;
    border-bottom: 2px solid #fff;
    color: #fff;
    text-align: center;
}

.newMatriz  .section--btn {
    margin-top: 15px;
}

.newMatriz  table {
    padding-bottom: 21px;
}

ul.lista input {
    padding-left: 5px;
}